<!DOCTYPE html>
<html>
<head>
	<title>Angular Demo</title>

		<script type="text/javascript" src="https://code.angularjs.org/1.2.15/angular.min.js"></script>
	
</head>
<body style= "font-family: :Verdana;  text-align: center; background: #f5e799 ; font-size: 16px">
	<center>
		<div  ng-app=""  ng-init="Gross_Montly_Sal='25000' ; Tax_Montly_Deduct='300'">
			<table>
				<tr>
					<td>Gross Montly Salary:</td>
					<td><input type="text" ng-model="Gross_Montly_Sal"></td>
				</tr>
				<tr>
					<td>Tax Deduction:</td>
					<td><input type="text"  ng-model="Tax_Montly_Deduct"></td>
				</tr>
			</table>
			<p style="text-align: center">Net Salary: {{Gross_Montly_Sal- Tax_Montly_Deduct}}
			</p>
		</div>
	</center>
		
</body>
</html>